<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <a href="/register" style="text-decoration: none;" >
            <button type="submit" class="btn btn-primary btn-block btn-large;" style="margin-bottom: 1rem;" >Sign Up!</button></a>


            <a href="/logout" style="text-decoration: none;" >
                <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-bottom: 1rem;">Login</button></a>
     </div>

</body>
</html>



