<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="Username" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in!</button>
        </form>
           
                    <div style="margin: 1rem;" >
            
                       
                            <a href="/register" style="text-decoration: none;" >
                             <button type="submit" class="btn btn-primary btn-block btn-large;" style="margin-bottom: 1rem;" >Sign Up!</button></a>
                         
                         
                           
                       
                    </div>
           
    </div>
    
    
</body>
</html>


