<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h1>This is the Secret page</h1>

        <a href="/" style="text-decoration: none;" >
            <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-bottom: 1rem;">Logout!</button></a>

    </div>
</body>
</html>







